*{
    padding:0px;
    margin:0px;
    box-sizing:border-box ;
}

::root {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

body {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    width: 100vw;
    height:100vh;
    background-color:linen;
}

header {
    display:grid;
    grid-area: 1/1/2/2;
    grid-template-columns: 4fr repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    background-color:linen;
    border-bottom: 3px;
    border-color: brown;
    border-style: solid;
}

div#headName {
    display:grid;
    grid-area: 1/1/3/2;
    justify-content: left;
    align-items: center;
    padding-left:20px;
}

/* original in index.js */
.restName {
    font-size: 5rem;
    font-weight: 700;
    color: brown;
}

/* this to test import from functions.js */
.rest_Name {
    font-size: 5rem;
    font-weight: 700;
    color: brown;
}

header>nav {
    display:grid;
    grid-area: 2/2/3/5;
    background-color: linen;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background-color: brown;
    color:beige;
    width: 100px;
    height: 2rem;
    border-radius: 30px;
    align-content:center;
    margin-bottom: 5px;
}

button#btn1 {
    display:grid;
    grid-area: 1/2/2/3; 
}

button#btn2 {
    display:grid;
    grid-area: 1/3/2/4;
}

button#btn3 {
    display:grid;
    grid-area: 1/4/2/5;
}


div.container{
    display:grid;
    grid-area: 2/1/3/2;
    grid-template-columns: 1fr 4fr;
    height:100%;
    width:100%;

}

div.sideBar{
    display:grid;
    grid-area: 1/1/2/2;
    background-color:linen ;
    height:100%;
    width: 100%;
    border-right: 3px;
    border-color: brown;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.sideText_1 {
    font-size: 3rem;
    font-weight: 400;
    color: brown;
    padding-left: 20px;;
}

div#content {
    display:grid;
    grid-area: 1/2/2/3;
    justify-content: center;
    align-items: center;
}